$primary_color: #4D13D1;
$primary_light: #CEC3F9;
$text_color: #595959;
$heading_color: #1C2321;
$dark_color: #0D0C21;
$gray: #F3F4F5;
$border_color: #E0E0E0;
$white: #fff;
$black: #000;
$placeholder_color: #9F9EA6;

$borderRadius: 5px;

$font1: 'Archivo', sans-serif;
